<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.rbtest</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0A533DC4-B58C-4B23-B61E-DF5EFDB93661</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8939EE44-3B26-4058-8BF3-A6590DEFD417</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>16898BEA-F586-4006-9C60-C5191E1F3EF1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>18E2877D-7C43-49D9-B595-17E70E5B5C34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>182521C1-F4AB-4513-B8D9-51F1FA144581</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14AF2AC2-5B4C-44F5-B7E7-A79F5AB0A044</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>18E2877D-7C43-49D9-B595-17E70E5B5C34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70DC3929-A01F-48C8-86F5-B7531C4FBD30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1B6E284D-BB62-410D-938C-1FC1C9AF9C68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86616106-35B5-423B-900E-F1C9602C3133</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D236BCE-980A-430A-8961-C9F9C914CE28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86AC71A0-E8AC-4839-B66B-D984E81CA726</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>21CC49B0-E4AA-44DC-8C36-DA2EC7FE196B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD8BE0F7-C232-421B-AF04-3115F0DEA7B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>224DE429-C61A-45D0-AD39-1EEB90F54E75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A469D149-47DF-4A05-A091-410E7602FDC6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>243455D5-4D27-4E1C-A3ED-43120C713CF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41C7D1E8-3F42-4958-9E4D-4F34FC034656</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28A001D7-2A6D-4FD8-ACFE-95949BE48F01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8602D306-C016-40D5-B98B-C092F035A4AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B81FCC2-F437-4437-AECD-CFB98EFFA275</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA788BD2-E7E6-4169-B454-8A5ACD16D3B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33CB691A-1F22-483E-9267-ADBD0E0733DE</key>
		<array/>
		<key>358A3D54-0EE1-4EB2-945D-D27969EAF6CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>243455D5-4D27-4E1C-A3ED-43120C713CF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4077E874-D4F9-40DA-861C-87871F0DF351</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA788BD2-E7E6-4169-B454-8A5ACD16D3B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6495B021-93D9-4B86-BD0D-0492E7FF565C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B81FCC2-F437-4437-AECD-CFB98EFFA275</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70434FB1-E871-4E6F-BF94-46D7CC322A76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C44AEB27-4B6F-439F-BD62-B6405B679757</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70DC3929-A01F-48C8-86F5-B7531C4FBD30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADA62F54-AD73-426A-B58A-37D2C16D9D93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F72A1FD-D58F-422E-9F76-AAE6A2907E05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4077E874-D4F9-40DA-861C-87871F0DF351</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8602D306-C016-40D5-B98B-C092F035A4AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E532D83B-55A8-4CEF-8252-2874BCF87AF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86616106-35B5-423B-900E-F1C9602C3133</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>182521C1-F4AB-4513-B8D9-51F1FA144581</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86AC71A0-E8AC-4839-B66B-D984E81CA726</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7148BC54-D921-43B8-A59E-6C0F859236A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>88F8F884-843E-47F7-9BA8-013317B85BE0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E6B2F80-EB3F-4236-880D-0ED9F925C66E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8939EE44-3B26-4058-8BF3-A6590DEFD417</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F14E3567-065F-4825-8A0F-48DC5083027B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8E6B2F80-EB3F-4236-880D-0ED9F925C66E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D236BCE-980A-430A-8961-C9F9C914CE28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A469D149-47DF-4A05-A091-410E7602FDC6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE7208FB-FD18-422F-A2E7-50BE782693D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF23428E-4266-4EBB-AAEA-27E37E46F403</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>33CB691A-1F22-483E-9267-ADBD0E0733DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB9FC121-BD6E-40A2-8556-38E4E01D827B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B6E284D-BB62-410D-938C-1FC1C9AF9C68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9538576-DC22-4386-A576-C687CED1385A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4055FCE2-9ED4-4954-B8EF-68D0C188A637</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E532D83B-55A8-4CEF-8252-2874BCF87AF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A533DC4-B58C-4B23-B61E-DF5EFDB93661</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE7208FB-FD18-422F-A2E7-50BE782693D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB9FC121-BD6E-40A2-8556-38E4E01D827B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5E00453-ED45-4B8E-96DD-C643C3378015</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6495B021-93D9-4B86-BD0D-0492E7FF565C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7F72A1FD-D58F-422E-9F76-AAE6A2907E05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AF23428E-4266-4EBB-AAEA-27E37E46F403</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FD8BE0F7-C232-421B-AF04-3115F0DEA7B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5E00453-ED45-4B8E-96DD-C643C3378015</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dominic &amp; Kat @ Pancake</string>
	<key>description</key>
	<string>Common Redbooth actions</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Redbooth Integration v1</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rb projects</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Retrieving list...</string>
				<key>script</key>
				<string># force the version of ruby
LANG=en_US.UTF-8 /usr/local/bin/ruby list_proj.rb</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>List projects, opens a project in browser</string>
				<key>title</key>
				<string>List Redbooth Projects</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>70434FB1-E871-4E6F-BF94-46D7CC322A76</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://redbooth.com/a/#!/projects/{query}/tasks</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C44AEB27-4B6F-439F-BD62-B6405B679757</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

# echo -n $query

# force the version of ruby
LANG=en_US.UTF-8 /usr/local/bin/ruby add_proj.rb $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>243455D5-4D27-4E1C-A3ED-43120C713CF2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rb project</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Adding project...</string>
				<key>script</key>
				<string>query=$1
#echo -n $query

# force the version of ruby
LANG=en_US.UTF-8 /usr/local/bin/ruby proj_item.rb $query

</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Create Redbooth Project</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>358A3D54-0EE1-4EB2-945D-D27969EAF6CF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Project {query} created!</string>
				<key>title</key>
				<string>Redbooth</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>41C7D1E8-3F42-4958-9E4D-4F34FC034656</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Task List {query} created!</string>
				<key>title</key>
				<string>Added Task List!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F14E3567-065F-4825-8A0F-48DC5083027B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># force the version of ruby
LANG=en_US.UTF-8 /usr/local/bin/ruby add_task_list.rb $project_id $tasklist</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8939EE44-3B26-4058-8BF3-A6590DEFD417</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rb tasklist</string>
				<key>subtext</key>
				<string>Adds a task list, requires a name</string>
				<key>text</key>
				<string>Create Task List</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>28A001D7-2A6D-4FD8-ACFE-95949BE48F01</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>adding...</string>
				<key>script</key>
				<string>
# force the version of ruby
LANG=en_US.UTF-8 /usr/local/bin/ruby list_proj.rb
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Select a Project</string>
				<key>title</key>
				<string>Add task list</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E532D83B-55A8-4CEF-8252-2874BCF87AF9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>project_id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0A533DC4-B58C-4B23-B61E-DF5EFDB93661</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>tasklist</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8602D306-C016-40D5-B98B-C092F035A4AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>You've created a task! {query}</string>
				<key>title</key>
				<string>Added Task!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>14AF2AC2-5B4C-44F5-B7E7-A79F5AB0A044</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading options...</string>
				<key>script</key>
				<string># force the version of ruby
LANG=en_US.UTF-8 /usr/local/bin/ruby list_proj.rb</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Pick a Project to add Task to</string>
				<key>title</key>
				<string>Select a Project</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EE7208FB-FD18-422F-A2E7-50BE782693D7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading options...</string>
				<key>script</key>
				<string>LANG=en_US.UTF-8 /usr/local/bin/ruby list_tasklist.rb $project_id</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Pick a TaskList to add Task to</string>
				<key>title</key>
				<string>Select a TaskList</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1B6E284D-BB62-410D-938C-1FC1C9AF9C68</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rb task</string>
				<key>subtext</key>
				<string>Creates a new Task, requires Task name</string>
				<key>text</key>
				<string>Create a Task</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>224DE429-C61A-45D0-AD39-1EEB90F54E75</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># echo PID $project_id PID
# echo TN $taskName TN
# echo TL $tasklist TL

LANG=en_US.UTF-8 /usr/local/bin/ruby add_task.rb $project_id $tasklist $taskName</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>182521C1-F4AB-4513-B8D9-51F1FA144581</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>project_id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BB9FC121-BD6E-40A2-8556-38E4E01D827B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>taskName</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A469D149-47DF-4A05-A091-410E7602FDC6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>tasklist</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>86616106-35B5-423B-900E-F1C9602C3133</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>A task has been created.</string>
				<key>title</key>
				<string>Added Task!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>ADA62F54-AD73-426A-B58A-37D2C16D9D93</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># echo PID $project_id PID
# echo TN $taskName TN
# echo TL $tasklist TL

project_id=1774137
tasklist=4417360

LANG=en_US.UTF-8 /usr/local/bin/ruby add_task.rb $project_id $tasklist $taskName</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>70DC3929-A01F-48C8-86F5-B7531C4FBD30</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rb do</string>
				<key>subtext</key>
				<string>Quickly add a task to the Pancake Internal backlog for later user</string>
				<key>text</key>
				<string>Add a Task</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>16898BEA-F586-4006-9C60-C5191E1F3EF1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>taskName</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>18E2877D-7C43-49D9-B595-17E70E5B5C34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>rb search</string>
				<key>subtext</key>
				<string>Enter a project, tasklist, or task name to search</string>
				<key>text</key>
				<string>Search Redbooth</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>88F8F884-843E-47F7-9BA8-013317B85BE0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://redbooth.com/a/#!/projects/{query}/tasks</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7148BC54-D921-43B8-A59E-6C0F859236A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading results...</string>
				<key>script</key>
				<string>LANG=en_US.UTF-8 /usr/local/bin/ruby search.rb $userInput</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>searching</string>
				<key>title</key>
				<string>Redbooth Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1D236BCE-980A-430A-8961-C9F9C914CE28</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>userInput</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8E6B2F80-EB3F-4236-880D-0ED9F925C66E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>results_id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>86AC71A0-E8AC-4839-B66B-D984E81CA726</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Looks like you need to log in.</string>
				<key>title</key>
				<string>Whoops! The was an error.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>FA788BD2-E7E6-4169-B454-8A5ACD16D3B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://pancakecreative.com/redbooth/auth?secret={var:alfred_secret}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2B81FCC2-F437-4437-AECD-CFB98EFFA275</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6495B021-93D9-4B86-BD0D-0492E7FF565C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://pancakecreative.com/redbooth/auth?secret={var:alfred_secret}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4077E874-D4F9-40DA-861C-87871F0DF351</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo "$query" &gt; redbooth_env.rb
echo $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F5E00453-ED45-4B8E-96DD-C643C3378015</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>rb auth</string>
				<key>subtext</key>
				<string>Get your updated Redbooth Authorization Token</string>
				<key>text</key>
				<string>Get new Auth Token</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>21CC49B0-E4AA-44DC-8C36-DA2EC7FE196B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>request=$(curl -X POST https://pancakecreative.com/redbooth/auth?secret=K8CL9vCGobV6QZFTeoJbop3qNjiMcVT6qsELoPmQ)

echo $request</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FD8BE0F7-C232-421B-AF04-3115F0DEA7B1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>&lt;title[^ ]*+
&lt;title&gt;Pancake Creative</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>7F72A1FD-D58F-422E-9F76-AAE6A2907E05</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>A new Redbooth environment file has been generated.</string>
				<key>title</key>
				<string>Authorization Updated!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>33CB691A-1F22-483E-9267-ADBD0E0733DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://pancakecreative.com/redbooth/auth?secret={var:alfred_secret}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4055FCE2-9ED4-4954-B8EF-68D0C188A637</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>rb init</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Initialize Authorization</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C9538576-DC22-4386-A576-C687CED1385A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>(?&lt;=')\w++|(?:[^\d]\w)++[A-Za-z]@*+</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>AF23428E-4266-4EBB-AAEA-27E37E46F403</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0A533DC4-B58C-4B23-B61E-DF5EFDB93661</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>14AF2AC2-5B4C-44F5-B7E7-A79F5AB0A044</key>
		<dict>
			<key>xpos</key>
			<integer>1090</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>16898BEA-F586-4006-9C60-C5191E1F3EF1</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>182521C1-F4AB-4513-B8D9-51F1FA144581</key>
		<dict>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>18E2877D-7C43-49D9-B595-17E70E5B5C34</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>1B6E284D-BB62-410D-938C-1FC1C9AF9C68</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>1D236BCE-980A-430A-8961-C9F9C914CE28</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>21CC49B0-E4AA-44DC-8C36-DA2EC7FE196B</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>940</integer>
		</dict>
		<key>224DE429-C61A-45D0-AD39-1EEB90F54E75</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>243455D5-4D27-4E1C-A3ED-43120C713CF2</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>28A001D7-2A6D-4FD8-ACFE-95949BE48F01</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>2B81FCC2-F437-4437-AECD-CFB98EFFA275</key>
		<dict>
			<key>xpos</key>
			<integer>1250</integer>
			<key>ypos</key>
			<integer>810</integer>
		</dict>
		<key>33CB691A-1F22-483E-9267-ADBD0E0733DE</key>
		<dict>
			<key>xpos</key>
			<integer>1250</integer>
			<key>ypos</key>
			<integer>1070</integer>
		</dict>
		<key>358A3D54-0EE1-4EB2-945D-D27969EAF6CF</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>4055FCE2-9ED4-4954-B8EF-68D0C188A637</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>1070</integer>
		</dict>
		<key>4077E874-D4F9-40DA-861C-87871F0DF351</key>
		<dict>
			<key>xpos</key>
			<integer>1250</integer>
			<key>ypos</key>
			<integer>940</integer>
		</dict>
		<key>41C7D1E8-3F42-4958-9E4D-4F34FC034656</key>
		<dict>
			<key>xpos</key>
			<integer>1090</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>6495B021-93D9-4B86-BD0D-0492E7FF565C</key>
		<dict>
			<key>xpos</key>
			<integer>1130</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>70434FB1-E871-4E6F-BF94-46D7CC322A76</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>70DC3929-A01F-48C8-86F5-B7531C4FBD30</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>7148BC54-D921-43B8-A59E-6C0F859236A3</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>7F72A1FD-D58F-422E-9F76-AAE6A2907E05</key>
		<dict>
			<key>xpos</key>
			<integer>1130</integer>
			<key>ypos</key>
			<integer>970</integer>
		</dict>
		<key>8602D306-C016-40D5-B98B-C092F035A4AD</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>86616106-35B5-423B-900E-F1C9602C3133</key>
		<dict>
			<key>xpos</key>
			<integer>820</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>86AC71A0-E8AC-4839-B66B-D984E81CA726</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>88F8F884-843E-47F7-9BA8-013317B85BE0</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>720</integer>
		</dict>
		<key>8939EE44-3B26-4058-8BF3-A6590DEFD417</key>
		<dict>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>8E6B2F80-EB3F-4236-880D-0ED9F925C66E</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>A469D149-47DF-4A05-A091-410E7602FDC6</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>ADA62F54-AD73-426A-B58A-37D2C16D9D93</key>
		<dict>
			<key>xpos</key>
			<integer>1090</integer>
			<key>ypos</key>
			<integer>580</integer>
		</dict>
		<key>AF23428E-4266-4EBB-AAEA-27E37E46F403</key>
		<dict>
			<key>xpos</key>
			<integer>1130</integer>
			<key>ypos</key>
			<integer>1100</integer>
		</dict>
		<key>BB9FC121-BD6E-40A2-8556-38E4E01D827B</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>C44AEB27-4B6F-439F-BD62-B6405B679757</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>C9538576-DC22-4386-A576-C687CED1385A</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>1070</integer>
		</dict>
		<key>E532D83B-55A8-4CEF-8252-2874BCF87AF9</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>EE7208FB-FD18-422F-A2E7-50BE782693D7</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>F14E3567-065F-4825-8A0F-48DC5083027B</key>
		<dict>
			<key>xpos</key>
			<integer>1090</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>F5E00453-ED45-4B8E-96DD-C643C3378015</key>
		<dict>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>940</integer>
		</dict>
		<key>FA788BD2-E7E6-4169-B454-8A5ACD16D3B1</key>
		<dict>
			<key>xpos</key>
			<integer>1500</integer>
			<key>ypos</key>
			<integer>800</integer>
		</dict>
		<key>FD8BE0F7-C232-421B-AF04-3115F0DEA7B1</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>940</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>alfred_secret</key>
		<string>K8CL9vCGobV6QZFTeoJbop3qNjiMcVT6qsELoPmQ</string>
		<key>return_uri</key>
		<string>https://panackecreative.com/redbooth</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>www.pancakecreative.com</string>
</dict>
</plist>
