<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.rbtest</string>
	<key>category</key>
	<string>Redbooth</string>
	<key>connections</key>
	<dict>
		<key>243455D5-4D27-4E1C-A3ED-43120C713CF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41C7D1E8-3F42-4958-9E4D-4F34FC034656</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>358A3D54-0EE1-4EB2-945D-D27969EAF6CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>243455D5-4D27-4E1C-A3ED-43120C713CF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70434FB1-E871-4E6F-BF94-46D7CC322A76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C44AEB27-4B6F-439F-BD62-B6405B679757</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA4FA6A3-1FFA-4C95-926C-48884598C13D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF8C0F5B-092A-4AE7-B574-301BAA7C86DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dominic &amp; Kat @ Pancake</string>
	<key>description</key>
	<string>Common Redbooth actions</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Redbooth Integration v1</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rb projects</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Retrieving list...</string>
				<key>script</key>
				<string># force the version of ruby
LANG=en_US.UTF-8 /usr/local/bin/ruby list_proj.rb</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Projects</string>
				<key>title</key>
				<string>Redbooth Projects List</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>70434FB1-E871-4E6F-BF94-46D7CC322A76</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://redbooth.com/a/#!/projects/{query}/tasks</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C44AEB27-4B6F-439F-BD62-B6405B679757</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Project {query} created!</string>
				<key>title</key>
				<string>Redbooth</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>41C7D1E8-3F42-4958-9E4D-4F34FC034656</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

# echo -n $query

# force the version of ruby
LANG=en_US.UTF-8 /usr/local/bin/ruby ~/Desktop/redbooth_workflow/add_proj.rb $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>243455D5-4D27-4E1C-A3ED-43120C713CF2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rb addproject</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Adding project...</string>
				<key>script</key>
				<string>query=$1
#echo -n $query

# force the version of ruby
LANG=en_US.UTF-8 /usr/local/bin/ruby ~/Desktop/redbooth_workflow/proj_item.rb $query

</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Add</string>
				<key>title</key>
				<string>Add project</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>358A3D54-0EE1-4EB2-945D-D27969EAF6CF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query1=$1
query2=$2

echo -n $query1
echo -n $query2

# force the version of ruby
# LANG=en_US.UTF-8 /usr/local/bin/ruby ~/Desktop/redbooth_workflow/rb_add_proj.rb $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF8C0F5B-092A-4AE7-B574-301BAA7C86DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rb addtasklist</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>adding...</string>
				<key>script</key>
				<string># force the version of ruby
LANG=en_US.UTF-8 /usr/local/bin/ruby ~/Desktop/redbooth_workflow/list_proj.rb</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Add task list</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AA4FA6A3-1FFA-4C95-926C-48884598C13D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>243455D5-4D27-4E1C-A3ED-43120C713CF2</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>358A3D54-0EE1-4EB2-945D-D27969EAF6CF</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>41C7D1E8-3F42-4958-9E4D-4F34FC034656</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>70434FB1-E871-4E6F-BF94-46D7CC322A76</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>AA4FA6A3-1FFA-4C95-926C-48884598C13D</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>C44AEB27-4B6F-439F-BD62-B6405B679757</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>FF8C0F5B-092A-4AE7-B574-301BAA7C86DC</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.pancakecreative.com</string>
</dict>
</plist>
